beautifulsoup4
db-dtypes
dlt[bigquery]
dlt[duckdb]
geopandas
google-cloud-storage
googleapis-common-protos
grpcio
grpcio-status
ipykernel
numpy
pandas
pre-commit
prefect
prefect-gcp[all_extras]
psycopg2-binary
py4j
pyarrow
requests
sqlalchemy
sqlalchemy-utils
typer
watermark